@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

html {
    font-size: 15px;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: hsl(0, 0%, 95%);
    margin: 13% 0;
}

p {
    font-family: 'Lexend Deca', sans-serif;
    font-size: .9rem;
    line-height: 1.5;
    margin-bottom: 53%;
    color: hsla(0, 0%, 100%, 0.75);
}

main {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 2%;
}

section {
    width: 190px;
    padding: 40px 40px 63px 40px;
}

.sedan {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.button {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.9rem;
    text-decoration: none;
    background-color: hsl(0, 0%, 95%);
    padding: 13px 28px;
    border-radius: 22px;
    color: inherit;
}

.button:hover {
    color: hsl(0, 0%, 95%);
    background-color: inherit;
    padding: 11px 26px;
    border: hsl(0, 0%, 95%) solid 2px;
}

.attribution {
    color:black;
}

@media only screen and (max-width: 375px) {
    main {
        flex-direction: column;
    }

    .sedan {
        border-top-right-radius: 8px;
        border-bottom-left-radius: 0;
    }

    .luxury {
        border-top-right-radius: 0;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
    }
}